.label {
    cursor: pointer;

    .checkbox {
        display: none;
    }

    .placeholder {
        background: var(--primary-color);
        height: var(--todoitem-formsize);
        width: var(--todoitem-formsize);
        border-radius: 5px;
        background: var(--checkbox-bg);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .checkbox:checked+.placeholder {
        background: var(--secondary-color);

        svg {
            fill: var(--title-color);
        }
    }
}