.item {
    border-top: 1px solid black;
    display: flex;
    justify-items: center;
    align-items: center;
    background: var(--primary-color);

    .input {
        background: rgb(204, 204, 204);
    }

    .btn {}
}