.todo {
    background: var(--primary-color);
    border-radius: 15px;
    padding: 20px 20px 20px 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    transition: scale 100ms ease-in, box-shadow 100ms ease-in;

    &:hover {
        // scale: 1.02;
        box-shadow: var(--box-shadow);
    }

    .left {
        display: flex;
        max-width: calc(100% - var(--todoitem-formsize));
        word-break: break-all;

        .body {
            margin: 0 20px;
            flex-grow: 1;

            .text {
                margin-bottom: 10px;
                display: inline-block;
                width: 100%;
                height: 1em;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .infoBlock {
                display: flex;
                justify-content: space-between;

                .readMoreBtn {
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.done {
    background: var(--todo-bg-completed);

    .text {
        text-decoration: line-through;
    }
}

.dragging {
    box-shadow: var(--box-shadow);
}

@media (max-width: 600px) {
    .todo {
        padding: 10px 20px;

        .left {
            .body {
                margin: 0 10px;

                .infoBlock {
                    font-size: 12px;
                }
            }
        }
    }
}