.list {
    position: absolute;
    left: 0;
    width: 200%;
    background: var(--primary-color);
    border-radius: 5px;
    overflow: hidden;
    z-index: 10000;
    box-shadow: var(--box-shadow);
    color: var(--text-color);
    max-height: 200px;
    overflow-y: auto;

    li {
        list-style-type: none;
        padding: 10px 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }

    .item {
        cursor: pointer;

        &:hover {
            background: var(--secondary-color);
            color: var(--title-color);
        }
    }

    .categoryForm {
        display: flex;
        justify-content: center;
        border-top: 1px solid black;
    }
}